@import url('https://fonts.googleapis.com/css?family=GFS+Didot&display=swap');

h3 {
    font-size: 2.25rem;
    font-family: 'GFS Didot', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.demo {
    max-width: 90%;
    margin: 20px auto;
}
.col-12 {
    padding: 4rem 0;
}
.col-12 {
    min-height: 20px;
}