
@font-face {
    font-family: 'Kontor';
    src: url('../fonts/kontd___.ttf');
}

h1 {
    font-family: 'Kontor';
    font-size: 5vw;
    text-align: center;

    margin-top: 5vh;
}

.ba-slider {
    position: relative;
    overflow: hidden;

    margin-bottom: 5vh;
}

.ba-slider img {
    width: 100%;
    display: block;
}

.ba-slider .resize {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.handle {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    margin-left: -2px;

    background: rgba(0, 0, 0, 0.5);
    cursor: ew-resize;
}

.handle:after {
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content: '\21d4';
    color: #000;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 64px;

    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 
        0 2px 6px rgba(0, 0, 0, 0.3),
        inset 0 2px 0 rgba(255, 255, 255, 0.5),
        inset 0 60px 50px -30px #DDD;
}

.handle.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height: 50px;
    font-size: 30px;
}

@media (min-width: 768px) {
    .ba-slider {
        width: 80%;
        margin: 0 auto;
    }
}